.host .card {
  background: #3178c6;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 225px;
  padding: 20px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.host .title {
  margin-top: 10px;
  font-size: 18px;
  font-family: Georgia, "Times New Roman", serif;
}

.host svg {
  width: 75px;
  height: 75px;
}

.host path {
  fill: #f6b352;
}
